
.admin-nav {
  @include dimensions(95%, 80px);
  @include flex(flex, none, center);
  margin-top: 50px;
  button {
    @include buttonStyling;
  }
  ul {
    @include flex(flex, none, none);
    width: 90%;
    li {
      margin-right: 10px;
      padding-left: 8px;
      a {
        font-family: $mainFont;
        font-size: 1.5rem;
        color: rgb(67, 65, 65);
        text-transform: uppercase;
      }
    }
  }
}

.admin-cards-wrapper {
  flex-wrap: wrap;
  margin: 50px auto;
  @include dimensions(95%, 100%);
  @include flex(flex, space-around, center);
  &__flex {
    @include flex(flex, space-between, center);
    @media (max-width: 767px) {
      flex-direction: column;
    }
    .product-cards__description {
      border-left: $mainRedColor solid 2px;
      @include dimensions(350px, 290px);
      padding-left: 12px;
      @media (max-width: 767px) {
        @include dimensions(100%, auto);
      border-left: none;
      border-top: 2px solid $mainRedColor;
      margin-top: 10px;
      }
      h1 {
        font-size: 1.5rem;
      }
      p {
        font-family: $mainFont;
        font-size: 1.3rem;
        line-height: 1.2;
        span {
          font-weight: bold;
        }
      }
    }
  }
  &__card {
    @include dimensions(700px, auto);
    margin-top: 20px;
    box-shadow: $cardBoxShadow;
    padding: 12px;
    @media (max-width: 767px) {
      width: 500px;
    }

    img {
      @include dimensions(300px, 300px);
      @media (max-width: 767px) {
        width: 100%;
      }
    }
  }
  &__btns {
    padding-top: 12px;
    width: 300px;
    margin-left: auto;
    @media (max-width: 767px) {
      @include flex(flex, center, none);
      margin: 0 auto;
      width: 100%;
      padding-top: 16px;
    }
    button {
      font-size: 1.4rem;
      font-family: $mainFont;
      border-radius: 4px;
      width: 110px;
      padding: 12px;
      margin-left: 10px;
      text-transform: uppercase;
      background-color: rgb(24, 24, 45);
      color: white;
      cursor: pointer;
      display: inline-block;
      &:hover {
        background-color: rgb(216, 6, 6);
      }
      @media (max-width: 767px) {
        margin: 0 auto;
      }
    }
  }
}


