.deleteModal,
.editFormModal,
.addProductModal {
  background-color: rgba(26, 24, 24, 0.832);
  z-index: 100;
  height: 100%;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  top: 0;
  left: 0;
  right: 0;
}
.deleteModal__content {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(217, 223, 223);
  opacity: 1;
  height: 300px;
  width: 610px;
  z-index: 200px;
  font-family: "Share", cursive;
  @media (max-width: 460px) {
    width: 430px;
  }

  p {
    font-size: 1.8rem;
    padding: 12px;
  }
  &__buttons {
    height: 50px;
    width: 290px;
    display: flex;
    justify-content: space-between;

     button {
       padding: 16px;
       width: 120px;
      cursor: pointer;
      outline: none;
      text-transform: uppercase;
      border-radius: 4px;

    }
    &--red:hover{
      background-color: rgb(212, 10, 10);
      color: white;
    }
    &--green:hover{
      background-color: rgb(1, 133, 21);
      color: white;
    }
  }
}
.modalForm{
  background: rgb(191, 10, 10);
  width: 500px;
  height: 750px;
  @media (max-width: 460px) {
    width: 400px;
  }

  input {
    margin: 5px auto;
    height: 50px;
    display: block;
    width: 90%;
    font-family: "Share", cursive;
    font-size: 1.7rem;
    background-color: rgb(226, 222, 222);
    border: none;
  }

  .contact__inputs {
    margin: 18px auto;
    width: 100%;
    label {
      color: white;
      margin: 0 auto;
      width: 90%;
      display: block;
      margin-top: 10px;
      font-family: "Share", cursive;
      font-size: 1.7rem;
    }
  }
  .modal2__buttons {
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;
    > button {
      width: 45%;
      height: 50px;
      border: none;
      background-color: rgb(48, 50, 51);
      color: white;
      border-radius: 10px;
      outline: none;
      cursor: pointer;
      font-family: "Share", cursive;
      font-size: 1.7rem;
      padding: 0;
      &:hover {
        background-color: rgb(6, 6, 6);
      }
    }
    #submitBtn2 {
      width: 45%;
      height: 50px;
      background-color: rgb(49, 50, 50);
      color: white;
      border-radius: 10px;
      margin: 0;
      cursor: pointer;
      &:hover {
        background-color: rgb(2, 110, 2);
      }
    }
  }
}

.admin-Nav {
  height: 80px;
  width: 95%;
  display: flex;
  align-items: center;
  margin-top: 50px;

  button {
    height: 70px;
    width: 200px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 4px;
    font-family: "Share", cursive;
    font-size: 1.5rem;
    text-transform: uppercase;
    background-color: rgba(235, 8, 8, 1);
    border: none;
    box-shadow: 0 4px 8px 0 rgba(163, 160, 160, 0.9);
    cursor: pointer;
    color: white;
    &:hover {
      background-color: #da2202;
      box-shadow: 0 4px 8px 0 rgba(172, 171, 171, 0.9);
      opacity: 1;
    }
  }
  ul {
    list-style: none;
    display: flex;
    width: 90%;

    li {
      list-style: none;
      margin-right: 10px;

      padding-left: 8px;
      a {
        font-family: "Share", cursive;
        font-size: 1.5rem;
        color: rgb(67, 65, 65);
        text-transform: uppercase;
      }
    }
  }
}

.productCards-container {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  justify-content: space-around;
  margin: 50px auto;
  height: 100%;

  &__flex {
    display: flex;
    justify-content: space-between;
    @media (max-width: 767px) {
      flex-direction: column;
    }
    .productCards__description {
      border-left: red solid 2px;
      height: 290px;
      width: 350px;
      text-align: center;
      padding-left: 12px;
      @media (max-width: 767px) {
        width: 100%;
      border-left: none;
      height: auto;
      border-top: 2px solid red;
      margin-top: 10px;
        
      }
      h1 {
        font-size: 1.5rem;
      }
      p {
        font-family: "Share", cursive;
        font-size: 1.3rem;
        line-height: 1.2;

        span {
          font-weight: bold;
        }
      }
    }
  }
  &__card {
    margin-top: 20px;
    box-shadow: 0 0 30px 0 rgba(95, 93, 93, 0.15);
    width: 700px;
    height: auto;
    padding: 12px;
    @media (max-width: 767px) {
      width: 500px;
    }

    img {
      width: 300px;
      height: 300px;
      @media (max-width: 767px) {
        width: 100%;
      }
    }
  }
  &__btns {
    padding-top: 12px;
    width: 300px;
    margin-left: auto;
  
    @media (max-width: 767px) {
      margin: 0 auto;
      width: 100%;
      display: flex;
      justify-content: center;
     
      padding-top: 16px;
    }
    button {
      font-size: 1.4rem;
      font-family: "Share", cursive;
      border-radius: 4px;
      width: 110px;
      padding: 12px;
      margin-left: 10px;
      text-transform: uppercase;
      background-color: rgb(24, 24, 45);
      color: white;
      cursor: pointer;
      display: inline-block;
      &:hover {
        background-color: rgb(216, 6, 6);
      }
      @media (max-width: 767px) {
        margin: 0 auto;
      }
    }
  }
}

// .row {
//   &__cardContent {
//     width: 45%;
//     text-align: center;
//     box-shadow: 0 0 30px 0 rgba(58, 57, 57, 0.15);
//     padding: 12px;
//     margin-top: 20px;
//     border-radius: 4px;
//     h1 {
//       font-size: 2.5rem;
//     }
//     p {
//       font-size: 1.5rem;
//       line-height: 1.5;
//     }
//   }
// }
