.contactRow {
  @include dimensions(98%, 100%);
  @include flex(flex, space-around, none);
  flex-wrap: wrap;
  &__content {
    @include dimensions(510px, 300px);
    @include flex(flex, space-between, none);
    padding: 12px;
    margin-top: 20px;
    box-shadow: $cardBoxShadow;
    @media (max-width: 460px) {
      @include dimensions(380px, 430px);
      flex-direction: column;
    }
  }
  &__info {
    @include dimensions(210px, auto);
    font-family: $mainFont;
    @media (max-width: 460px) {
      width: 100%;
    }
    h2 {
      font-size: 2.7rem;
    }
    p {
      font-size: 1.3rem;
      min-width: 200px;
    }
    &__comments {
    @include dimensions(260px, auto);
      border-left: 2px solid red;
      padding: 12px;
      @media (max-width: 460px) {
        width: 100%;
        border-top: 2px red solid;
        border-left: none;
      }
      p {
        font-size: 1.3rem;
        font-family: $mainFont;
      }
    }
  }
}
