footer {
  @include dimensions(100%, 100%);
  background-color: #1f2833;
  margin-top: 20px;
  padding: 12px;
}
.footer__navs {
  @include dimensions(90%, 100%);
  @include flex(flex, space-between, center);
  margin: 0 auto;
  @media (max-width: 767px) {
    flex-direction: column;
  }
}

.footer__navs__socialMedia {
  margin: 20px 0 40px 0;
  ul {
    @include flex(flex, center, center);
    @include dimensions(200px, 100%);
    padding: 0;
  }
  .margin-left {
    margin-left: 16px;
  }
}
.footer__navs__socialMedia--facebook {
  @include dimensions(50px, 50px);
  margin: 0;
  background-image: url("../images//facebook-icon.svg");
  background-size: cover;
  display: block;
}
.footer__navs__socialMedia--twitter {
  @include dimensions(50px, 50px);
  margin: 0;
  background-image: url("../images/twitter-icon.svg");
  background-size: cover;
  display: block;
}

.footer__navs__socialMedia--instagram {
  @include dimensions(50px, 50px);
  margin: 0;
  background-image: url("../images/instagram-icon.svg");
  background-size: cover;
  display: block;
}
.footer__navs__right {
  
  ul {
    padding: 0;
    width: 200px;
    li {
      margin-top: 30px;
      a {
        @include linkStyling;
        @include hoverLinks;
      }
    }
  }
}
.footer__navs__left {
 
  ul {
    padding: 0;
    width: 200px;
    
    li {
      margin-top: 30px;
     
      a {
        @include linkStyling;
        @include hoverLinks;
      }
    }
  }

}
