footer {
    border-top: 2px solid rgb(214, 211, 211);
   
    background-color: #1f2833;
    margin-top: 20px;
    width: 100%;


}
.footer__navs {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 30px auto;
   
    @media (max-width: 678px) {
    flex-direction: column;
    align-items: center;

    }
}

.footer__navs__socialMedia {
   
    display: flex;
   
    ul {display: flex;
        padding: 0;
        width: 160px;
        justify-content: center;
        align-items: flex-end;
        margin: 0 auto;
        justify-content: space-between;
        
    
    }
    li {
        width: 100%;
    
    }
   
}
.footer__navs__socialMedia--facebook {
    margin: 0;
    background-image: url('../images/facebooklogo.png');
    background-size: cover;
    height: 50px;
    width: 50px;
    display: block;

    
}
.footer__navs__socialMedia--twitter {
    margin: 0;
    background-image: url('../images/twitterlogo.png');
    background-size: cover;
    height: 50px;
    width: 50px;
    display: block;

}

.footer__navs__socialMedia--instagram {
    margin: 0;
    background-image: url('../images/instagramlogo.png');
    background-size: cover;
    height: 50px;
    width: 50px;
    display: block;

}
.footer__navs__right {
    ul {
        padding: 0;
        width: 200px;
        li {
            margin-top: 20px;
        }
    }
    a {
        text-transform: uppercase;
        font-size: 1.5rem;
        font-family: 'Share', cursive;
        color: white;
        font-weight: 500;
        letter-spacing: .80px;
    }
}
.footer__navs__left {
    ul {
        padding: 0;
        width: 200px;
        li {
            margin-top: 20px;
            
        }
    }
    a {
        text-transform: uppercase;
        font-size: 1.5rem;
        font-family: 'Share', cursive;
        color: white;
        font-weight: 500;
        letter-spacing: .80px;
    }
}
 
