.mainNav {
  @include flex(flex, center, center);
  @include dimensions(100%, 100px);
  position: fixed;
  top: 0;
  background-color: #1f2833;
  z-index: 100;
  &__links {
    padding: 0;
    @include dimensions(70%, 100%);
    @include flex(flex, flex-end, center);
    @media (max-width: 768px) {
      display: none;
    }
    li {
      margin-right: 10px;
      padding-left: 12px;
      @media (max-width: 768px) {
        margin-left: 30px;
      }

      a {
        @include linkStyling;
        @include hoverLinks;
      }
    }
  }
  button {
    @include buttonStyling;
    margin-right: 10px;
    @media (max-width: 767px) {
      display: none;
    }
  }
}

.mobileNav {
  position: fixed;
  @include dimensions(100%, 100%);
  background-color: #1f2833;
  z-index: 1000;
  margin-left: -1000px;
  @media (min-width: 768px) {
    display: none;
  }
  button {
    @include buttonStyling;
    margin: 10px 0 0 10px;
  }
  .menu-icon--mobile {
    position: absolute;
    top: 5px;
    right: 0;
    background-image: url("../images/menu-icon.svg");
    @include dimensions(50px, 50px);
    margin: 10px 12px 0 0;
    background-size: cover;
    cursor: pointer;
    &::before {
      content: "Menu";
      display: block;
      position: absolute;
      right: 60px;
      top: 16px;
      font-size: 1.8rem;
      font-family: $mainFont;
      color: white;
    }
  }
  &__links {
    flex-direction: column;
    @include flex(flex, center, center);

    @include dimensions(100%, 80%);
    .main-nav__listItem--margin-top {
      margin-top: 10px;
    }
    li {
      font-size: 3rem;
      a {
        color: white;
        font-family: $mainFont;
        letter-spacing: 0.8px;
      }
    }
  }
}
.menu-icon {
  background-image: url("../images/menu-icon.svg");
  @include dimensions(50px, 50px);
  background-size: cover;
  display: none;
  margin-right: 10px;
  cursor: pointer;
  &::before {
    content: "Menu";
    display: block;
    position: absolute;
    right: 68px;
    top: 40px;
    font-size: 1.8rem;
    font-family: "Share", cursive;
    color: white;
  }
  @media (max-width: 768px) {
    display: block;
  }
}
