.mainNav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  height: 100px;
  background-color: #1f2833;
  z-index: 100;
  &__links {
    padding: 0;
    display: flex;
    width: 70%;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    margin: 0 auto;
    @media (max-width: 768px) {
  
      display: none;
    }
    @media (max-width: 375px) {
      display: none;
    }
    li {
      list-style: none;
      margin-right: 10px;
      
      padding-left: 12px;
      @media (max-width: 768px) {
        margin-left: 30px;
      }

      a {
        text-transform: uppercase;
        font-size: 1.5rem;
        font-family: $mainFont;
        color: white;
        font-weight: 500;
        letter-spacing: 0.8px;
        @include hoverLinks
      }
    }
  }
  button {
@include buttonStyling;
    @media (max-width: 767px) {
      display: none;
    }
  }
}
.mainNav__links--border {
    border-left:  2px solid #C5C6C7;
}



.mobileNav{
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
   background-color: #1f2833;
   z-index: 1000;
  
  button {
    text-transform: uppercase;
    font-size: 1.5rem;
    width: 120px;
    height: 60px;
    cursor: pointer;
    border-radius: 4px;
    outline: none;
    font-family: "Share", cursive;
    background-color: rgb(212, 10, 10);
    color: white;
    letter-spacing: 0.9px;
    border: none;
    margin: 10px 0 0 10px;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2);
    &:hover {
      background-color: rgb(230, 4, 4);
      color: white;
      opacity: 1;
    }
  }
  .menu-icon--mobile {
    position: absolute;
    top: 5px;
    right: 0;
    background-image: url("../images/menu-icon.svg");
    height: 50px;
    width: 50px;
    margin: 10px 12px 0 0;
    background-size: cover;
    cursor: pointer;
    &::before {
      content: "Menu";
      display: block;
      position: absolute;
      right: 60px;
      top: 16px;
      font-size: 1.8rem;
      font-family: "Share", cursive;
      color: white;
    }
  }
   &__links {
     
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     height: 80%;
     width: 100%;
     .main-nav__listItem--margin-top {
       margin-top: 10px;
     }
     li {
      font-size: 3rem;
       a {
         color: white;
         font-family: 'Share', cursive;
         letter-spacing: 0.8px;
       }
     }
   }


}
.menu-icon {
  background-image: url('../images/menu-icon.svg');
  width: 50px;
  height: 50px;
  background-size: cover;
  display: none;
  margin-right: 10px;
  cursor: pointer;
 
  height: 50px;
  width: 50px;
  margin-right: 10px;
  cursor: pointer;
  &::before {
    content: "Menu";
    display: block;
    position: absolute;
    right: 68px;
    top: 40px;
    font-size: 1.8rem;
    font-family: "Share", cursive;
    color: white;
    
  }
  @media (max-width: 768px) {
    display: block;
  }
}
