.mainNav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  height: 100px;
  background-color: #1f2833;
  z-index: 100;
  ul {
    padding: 0;
    display: flex;
    width: 70%;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    margin: 0 auto;
    @media (max-width: 768px) {
  
      display: none;
    }
    @media (max-width: 375px) {
      display: none;
    }
    li {
      list-style: none;
      margin-right: 10px;
      
      padding-left: 12px;
      @media (max-width: 768px) {
        margin-left: 30px;
      }

      a {
        text-transform: uppercase;
        font-size: 1.5rem;
        font-family: $mainFont;
        color: white;
        font-weight: 500;
        letter-spacing: 0.8px;
        @include hoverLinks
      }
    }
  }
  button {
    text-transform: uppercase;
    font-size: 1.5rem;
    width: 120px;
    height: 60px;
    cursor: pointer;
    border-radius: 4px;
    outline: none;
    font-family: "Share", cursive;
    background-color: rgb(212, 10, 10);
    color: white;
    letter-spacing: 0.9px;
    border: none;
    margin-right: auto;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2);
    &:hover {
      background-color: rgb(230, 4, 4);
      color: white;
      opacity: 1;
    }
    @media (max-width: 767px) {
      display: none;
    }
  }
}
.mainNav__links--border {
    border-left:  2px solid #C5C6C7;
}




