.hero {
    height: 80vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding: 20px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.311), rgba(0, 0, 0, 0.37));
    @include flex(flex, center, center);
    @media (max-width: 768px) {
      background-position: bottom;
    }
    &__text {
      width: 600px;
      padding: 14px;
      text-align: center;
      // background-color: #1f2833be;
      button {
        @include buttonStyling;
      }
      h1 {
        color: rgb(255, 255, 255);
        font-size: 3rem;
        font-family: "Montserrat";
        text-transform: uppercase;
        @media (max-width: 460px){
          font-size: 2.3rem;
        }
      }
      p {
        color: rgb(255, 255, 255);
        font-size: 2rem;
        font-family: "Montserrat";
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 0.9px;
        text-align: center;
        @media (max-width: 460px){
          font-size: 1.5rem;
        }
      }
    }
  }

  .Hero {
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../images/introDrums2.jpg");
    .Hero__text {
      background-color: rgba(231, 230, 230, 0.729);
      width: 400px;
      height: 150px;
      text-align: center;
      font-size: 1.6rem;
      text-transform: uppercase;
      padding: 10px;
    }
  }