
.available-products {
  @include dimensions(98%, 100%);
  margin: 60px auto;

  h2 {
    font-size: 4rem;
    font-family: $mainFont;
    margin-bottom: 16px;
  }
  .available-products__container {
    @include dimensions(100%, 100%);
    flex-wrap: wrap;
    @include flex(flex, space-between, center);
    figure {
      @include dimensions(650px, 400px);
      margin: 16px auto;
      position: relative;
      cursor: pointer;
      @media (max-width: 460px) {
        width: 320px;
        height: 320px;
      
      }

      img {
        @include dimensions(100%, 100%);
      }
      figcaption {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.481);
        top: 0;
        @include dimensions(100%, 100%);
        @include flex(flex, center, center);
        color: white;
        font-size: 4rem;
        text-transform: uppercase;
        font-family: $mainFont;
        opacity: 0;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
.small-card__container {
  box-shadow: $cardBoxShadow;
  padding: 12px;
  @include dimensions(95%, 100%);
  margin: 50px auto;
  .small-card__container-content {
    @include dimensions(98%, 90%);
    @include flex(flex, space-between, none);
    @media (max-width: 767px) {
      flex-direction: column-reverse;
    }
    img {
      @include dimensions(45%, 350px);
      @media (max-width: 767px) {
        @include dimensions(100%, 300px);
      }
    }
    .small-card__container__content-side {
      @include dimensions(50%, '');
      border-bottom: $mainRedColor solid 2px;
      padding-bottom: 20px;
      @media (max-width: 767px) {
        @include dimensions(100%, '');
      }
      p {
        font-size: 2rem;
        font-family: $mainFont;
        line-height: 1.5;
        @include dimensions(100%, auto);
        @media (max-width: 460px) {
          font-size: 1.8rem;
        }
      }
      button {
        @include buttonStyling;
      }
    }
  }
}

.customer-cards-wrapper {
  margin-top: 80px;
  @include dimensions(98%, 100%);
  h2 {
    font-size: 3.2rem;
    font-family: $mainFont;
    margin-bottom: 50px;
  }
}
.customer-cards {
  flex-wrap: wrap;
  margin-top: 30px;
  
 @include dimensions(100%, 100%);
 
  @include flex(flex, space-between, center);
  figcaption {
    border-bottom: 2px $mainRedColor solid;
    margin-top: 10px;
    font-size: 1.5rem;
    line-height: 1.5;
    font-family: $mainFont;
    padding-bottom: 12px;
    width: 100%;
  }
}

.customer-cards__card {
  @include dimensions(400px, 100%);
  .customer-cards__content__rating {
    display: flex;
    @include dimensions(100%, 100%);
    align-items: center;
    @include flex(flex, '', center);
    p {
      max-height: 30%;
      display: inline-block;
      font-size: 1.3rem;
      font-family: $mainFont;
    }
    span {
      @include dimensions(100px, 100px);
      background-size: cover;
      background-image: url("../images/ratingicon.png");
    }
  }

  img {
    @include dimensions(70%, 240px);
    margin: 0 auto;
    display: block;
    border-radius: 50%;
    @media (max-width: 768px) {
      height: 200px;
      width: 60%;
    }
  }
}
