
main {
  padding-top: 100px;
}
.hero {
  height: 600px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  @media (max-width: 768px) {
  background-position: bottom;
  }

  &__text {
    background-color: rgba(235, 230, 230, 0.74);
    height: 300px;
    width: 600px;
    padding: 13px;
    text-align: center;
  
    button {
      text-transform: uppercase;
      font-size: 1.5rem;
      width: 120px;
      height: 60px;
      cursor: pointer;
      border-radius: 4px;
      outline: none;
      font-family: "Share", cursive;
      background-color: rgb(53, 46, 92);
      color: white;
      letter-spacing: 0.9px;
      border: none;
      box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
      &:hover {
        background-color: rgb(230, 4, 4);
        color: white;
        opacity: 1;
      }
    }
    h1 {
      color: rgb(21, 20, 20);
      font-size: 1.7rem;
      font-family: "RVMontserrat";
      text-transform: uppercase;
    }
    p {
      color: rgb(14, 14, 14);
      font-size: 160%;
      font-family: "RVMontserrat";
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 0.9px;
      text-align: center;
    }
  }
}
.intro-card {
  width: 95%;
  box-shadow: 0 0 30px 0 rgba(95, 93, 93, 0.15);
  padding: 16px;
  height: auto;
  margin: 50px auto;
  background-color: white;

  .intro-card__container {
    width: 98%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

    @media (max-width: 767px) {
      flex-direction: column;
      
    }

    img {
      width: 41%;
      height: 530px;
     
      @media (max-width: 768px) {
      width: 100%;
      height: 400px;
      }
    }
    p {
      border: solid 2px rgb(43, 10, 10);
      margin: 0;
      font-size: 2.2rem;
      font-family: "Share", cursive;
      height: auto;
      width: 58%;
      line-height: 1.5;
      text-align: center;
      border-bottom: solid 2px rgb(241, 6, 6);
      padding-bottom: 18px;
      @media (max-width: 767px) {
        width: 100%;
        height: auto;
        margin-top: 20px;
        font-size: 1.8rem;
      }

    }
  }
}

.availableProducts {
  width: 95%;

  height: 100%;
  margin: 60px auto;


  h2 {
    text-align: center;
    font-size: 4rem;
    font-family: "Share", cursive;
    margin-bottom: 0;
  }
  .availableProducts__container {
    border: solid pink 2px;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;

    figure {
      width: 700px;
      height: 100%;
      margin: 0 auto;
    }

    img {
      box-shadow: 0 0 30px 0 rgba(95, 93, 93, 0.15);
      padding: 12px;
      width: 100%;
      height: 400px;
      margin: 10px 0;
    }
  }
}


.smallCard {
  width: 95%;
  box-shadow: 0 0 30px 0 rgba(95, 93, 93, 0.15);
  padding: 16px;
  height: 100%;
  margin: 50px auto;
  background-color: white;
  .smallCard__container {
    width: 98%;
    height: 90%;
    display: flex;

    justify-content: space-around;
    margin: 0 auto;
    @media (max-width:767px) {
      flex-direction: column-reverse;
    }
    img {
      width: 48%;
      height: 350px;
      @media (max-width: 767px) {
        width: 100%;
      }
    
    }
  }
}
.smallCard__container__content {
  width: 50%;
 
  text-align: center;
  border-bottom: red solid 2px;
  padding-bottom: 20px;
  @media (max-width: 767px) {
width: 100%;
  }
 
  p {
   
    font-size: 2rem;
    font-family: "Share", cursive;
    height: auto;
    max-width: 100%;
    line-height: 1.5;

  }
  button {
    padding: 12px;
    border-radius: 4px;
    font-family: "Share", cursive;
    font-size: 1.5rem;
    outline: none;
    text-transform: uppercase;
    margin: 0 auto;
    cursor: pointer;
    &:hover {
      background-color: rgb(221, 5, 5);
      color: white;
    }
  }
}
.customerCards-container {
  height: 100%;
  margin-top: 50px;
  width: 98%;
  margin: 0 auto;

  h2 {
    text-align: center;
    font-size: 2.9rem;
    font-family: "Share", cursive;
  }
}
.customerCards {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  justify-content: space-around;
  margin-top: 30px;
  
  figcaption {
    border-bottom: 2px red solid;
    display: block;
    margin-top: 10px;
    font-size: 1.5rem;
    max-height: 60%;
    width: 100%;
    line-height: 1.8;
    font-family: "Share", cursive;
    padding-bottom: 10px;
    text-align: center;
    @media  (max-width: 768px) {
        max-width:  100%;
       
    }
    
  }

}
@media  (max-width: 768px) {
    width: 280px;
    margin: 0 auto;
}

.customerCards__card {

  width: 400px;
  height: 100%;
  margin: 0 auto;
  

  .customerCards__content__rating {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;

    // background: green;
    p {
    
      max-height: 30%;
      display: inline-block;
      font-size: 1.3rem;
      font-family: "Share", cursive;
 

      // background: yellow;
    }
    span {
      align-self: center;
      width: 100px;
      height: 100px;
      background-size: cover;

      background-image: url("../images/ratingicon.png");
    }
  }

  img {
    width: 70%;
    height: 240px;
    margin: 0 auto;
    display: block;
    border-radius: 50%;
    @media (max-width: 1115px) {
      height: 250px;
      
    }
    @media (max-width: 768px) {
        height: 200px;
        width: 60%;
        
      }
  }

}




