
main {
  margin-top: 100px;
}
.hero {
  height: 600px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: 768px) {
    background-position: center;
    background-size: cover;
    height: 500px;
  }

  &__text {
    background-color: rgba(231, 230, 230, 0.9);
    height: 200px;
    width: 600px;
    padding: 13px;
    text-align: center;

    h1 {
      color: rgb(37, 36, 36);
      font-size: 1.7rem;
      font-family: "RVMontserrat";
      text-transform: uppercase;
    }
    p {
      color: rgb(242, 8, 8);
      font-size: 160%;
      font-family: "RVMontserrat";
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 0.9px;
    }
  }
}
.cardsContainer {
  height: 100%;
  margin-top: 50px;
  width: 95%;
  margin: 0 auto;
  @media  (max-width: 768px) {
    width: 95%;
}
  h2 {
    text-align: center;
    font-size: 2.9rem;
    font-family: "Share", cursive;
  }
}
.cards {
  display: flex;
  flex-wrap: wrap;
  width: 96%;
  height: 100%;
  margin: 0 auto;
  justify-content: space-between;
  margin-top: 30px;

}
@media  (max-width: 768px) {
    width: 280px;
    margin: 0 auto;
}

.cards__content {
  width: 31%;
  height: 100%;
  margin: 0;
  @media  (max-width: 768px) {
    width: 300px;
    margin: 0 auto;
}
  .cards__content__rating {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;

    // background: green;
    > p {
      max-width: 370px;
      max-height: 30%;
      display: inline-block;
      font-size: 1.3rem;
      font-family: "Share", cursive;
 

      // background: yellow;
    }
    span {
      align-self: center;
      width: 100px;
      height: 100px;
      background-size: cover;

      background-image: url("../images/ratingicon.png");
    }
  }

  img {
    width: 70%;
    height: 240px;
    margin: 0 auto;
    display: block;
    border-radius: 50%;
    @media (max-width: 1115px) {
      height: 250px;
      
    }
    @media (max-width: 768px) {
        height: 200px;
        width: 60%;
        
      }
  }
  figcaption {
    border-bottom: 2px red solid;
    display: block;
    margin-top: 10px;
    font-size: 1.5rem;
    max-height: 60%;
    max-width: 98%;
    line-height: 1.8;
    font-family: "Share", cursive;
    padding-bottom: 10px;
    @media  (max-width: 768px) {
        max-width:  100%;
       
    }
    
  }
}

.intro {
  width: 95%;
  box-shadow: 0 0 30px 0 rgba(95, 93, 93, 0.15);
  padding: 16px;
  height: 500px;
  margin: 50px auto;
  background-color: white;

  .intro__container {
    width: 98%;
    height: 90%;
    display: flex;
    justify-content: space-between;

    img {
      width: 47%;
      height: 450px;
    }
    p {
      margin: 0;
      font-size: 2rem;
      font-family: "Share", cursive;
      height: 450px;
      width: 51%;
      line-height: 1.5;
      overflow: scroll;
      border-bottom: solid 4px rgb(241, 6, 6);
      padding-bottom: 18px;
    }
  }
}
.bigCard {
  width: 95%;
  box-shadow: 0 0 30px 0 rgba(95, 93, 93, 0.15);
  padding: 16px;
  height: 300px;
  margin: 50px auto;
  background-color: white;
  .bigCard__container {
    width: 98%;
    height: 90%;
    display: flex;

    justify-content: space-between;
    img {
      width: 38%;
      height: 100%;
    }
  }
}
.bigCard__container__inner {
  width: 60%;
  border-bottom: solid 4px rgb(206, 25, 25);
  p {
    margin: 0;
    font-size: 1.7rem;
    font-family: "Share", cursive;
    height: 70%;
    max-width: 100%;
    line-height: 1.5;
  }
  button {
    height: 20%;
    width: 30%;
    border-radius: 20px;
    font-family: "Share", cursive;
    font-size: 1.5rem;
    outline: none;
    text-transform: uppercase;
  }
}
.availableProducts {
  width: 95%;

  height: 100%;
  margin: 80px auto;

  h2 {
    text-align: center;
    font-size: 4rem;
    font-family: "Share", cursive;
  }
  .availableProducts__container {
    width: 100%;
    height: 100%;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    margin: 0;

    figure {
      width: 49%;
      height: 100%;
      margin: 0;
    }

    img {
      box-shadow: 0 0 30px 0 rgba(95, 93, 93, 0.15);
      padding: 12px;
      width: 100%;
      height: 400px;
      margin: 10px 0;
    }
  }
}
