.logoContainer--mainNav {
    
vertical-align: middle;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: auto;
    > p {
        color: rgb(117, 116, 116);
        letter-spacing: 1.2px;
      
        font-size: 2.1rem;
        font-family: 'Fugaz One', cursive;
        max-height: 100%;
        margin: 0;
        border-bottom: solid 3px rgb(242, 8, 8);
        text-transform: uppercase;
    }
}

.logoContainer--footer {
    margin-top: 20px;
    position: relative;
    text-align: center;

    width: 100%;
    max-height: 100%;
    > p {
      display: inline-block;
        color: rgb(117, 116, 116);
        letter-spacing: 1.2px;
        max-width: 190px;
        font-size: 2.7rem;
        font-family: 'Fugaz One', cursive;
        text-transform: uppercase;
        max-height: 100%;
        margin: 0 7px;
        border-bottom: rgb(223, 7, 7) solid 3px;
    }
}