.delete-modal,
.edit-form-modal,
.add-product-modal {
  background-color: rgba(26, 24, 24, 0.832);
  z-index: 100;
  height: 100%;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  top: 0;
  left: 0;
  right: 0;
}
.delete-modal__content {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(217, 223, 223);
  opacity: 1;
  height: 300px;
  width: 610px;
  z-index: 200px;
  font-family: "Share", cursive;
  @media (max-width: 460px) {
    width: 430px;
  }

  p {
    font-size: 1.8rem;
    padding: 12px;
  }
  &__buttons {
    height: 50px;
    width: 290px;
    display: flex;
    justify-content: space-between;

    button {
      padding: 16px;
      width: 120px;
      cursor: pointer;
      outline: none;
      text-transform: uppercase;
      border-radius: 4px;
    }
    &--red:hover {
      background-color: rgb(212, 10, 10);
      color: white;
    }
    &--green:hover {
      background-color: rgb(1, 133, 21);
      color: white;
    }
  }
}
.modal-form {
  background: rgb(148, 148, 148);
  width: 500px;
  height: 750px;
  @media (max-width: 460px) {
    width: 400px;
  }

  .contact__inputs {
    margin: 18px auto;
    width: 100%;
    input {
      margin: 5px auto;
      height: 50px;
      display: block;
      width: 90%;
      font-family: "Share", cursive;
      font-size: 1.7rem;
      background-color: rgb(226, 222, 222);
      border: none;
    }
    label {
      color: white;
      margin: 0 auto;
      width: 90%;
      display: block;
      margin-top: 10px;
      font-family: "Share", cursive;
      font-size: 1.7rem;
    }
  }
  .modal-form__buttons {
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;
    button, input {
      text-transform: uppercase;
      font-size: 1.5rem;
      width: 160px;
      height: 60px;
      cursor: pointer;
      border-radius: 4px;
      outline: none;
      font-family: "Share", cursive;
      background-color: black;
      color: white;
      letter-spacing: 0.9px;
      border: none;
      box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2);
    }
    &--green:hover {
      background-color: rgb(1, 133, 21);
    }
    &--black:hover {
      background-color: $mainRedColor;
    }
  }
}
