.delete-modal,
.edit-form-modal,
.add-product-modal {
  @include dimensions(100%,100%);
  @include flex(flex, center, center);
  background-color: rgba(26, 24, 24, 0.832);
  z-index: 100;
  position: fixed;
  display: none;
  top: 0;
left: 0;
}
.delete-modal__content {
  @include dimensions(610px, 300px);
  @include flex(flex, center, center);
  flex-direction: column;
  background-color: rgb(217, 223, 223);
  font-family: $mainFont;
  @media (max-width: 460px) {
    width: 430px;
  }

  p {
    font-size: 1.8rem;
    padding: 12px;
  }
  &__buttons {
    @include dimensions(290px, 50px);
    @include flex(flex, space-between, none);
    button {
      padding: 16px 40px;
      font-size: 1.3rem;
      cursor: pointer;
      text-transform: uppercase;
      border-radius: 4px;
    }
    &--red:hover {
      background-color: rgb(212, 10, 10);
      color: white;
    }
    &--green:hover {
      background-color: rgb(1, 133, 21);
      color: white;
    }
  }
}
.modal-form {
  @include dimensions(500px, 750px);
  background: rgb(148, 148, 148);
  @media (max-width: 460px) {
    width: 400px;
  }

  .contact__inputs {
    @include dimensions(100%, auto);
    margin: 18px auto;
    input {
      @include dimensions(90%, 50px);
      margin: 5px auto;
      display: block;
      font-family: $mainFont;
      font-size: 1.7rem;
      background-color: rgb(226, 222, 222);
      border: none;
    }
    label {
      color: white;
      margin: 0 auto;
      width: 90%;
      display: block;
      margin-top: 10px;
      font-family: $mainFont;
      font-size: 1.7rem;
    }
  }
  .modal-form__buttons {
    @include flex(flex, space-around, center);
    @include dimensions(100%, auto);
    margin-top: 50px;
    button, input {
      @include dimensions(160px, 60px);
      text-transform: uppercase;
      font-size: 1.5rem;
      cursor: pointer;
      border-radius: 4px;
      font-family: $mainFont;
      background-color: black;
      color: white;
      border: none;
      box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2);
    }
    &--green:hover {
      background-color: rgb(1, 133, 21);
    }
    &--black:hover {
      background-color: $mainRedColor;
    }
  }
}
