

.filters {
    width: 60%;
    height: 100px;
    position: relative;
    font-family: 'Share', cursive;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
   
    select {
        background: rgb(206, 206, 208);
        height: 40%;
        width: 32%;
        font-size: 1.2rem;
        outline: none;
        font-family: 'Share', cursive;
 
    }
    
}
    .row {
        display: flex;
        flex-wrap: wrap;
        width:  98%;
        height: 100%;
        margin: 0 auto;
        justify-content: space-between;
        margin-top: 30px;
        font-family: 'Share', cursive;
        .productCard__content {
            padding: 10px;
            width: 32%;
            height: 100%;
            box-shadow: 0 0 30px 0 rgba(95, 93, 93, 0.15);
            margin-bottom: 20px;
            @media (max-width: 768px) {
                width: 360px;
                
            }
            h1 {
                font-size: 1.8rem;
                max-width: 100%; 
                height: 60px;
            }
            &__bottom {
                display: flex;
                justify-content: space-between;
                max-width: 190px;
                align-items: center;
                p {
                    text-transform: uppercase;
                    letter-spacing: .90px;
                    font-size: 1.4rem;
                }
                button {
                    font-size: 1.2rem;
                    width: 30px;
                    height: 30px;
                    border-radius: 20px;
                    background-color: rgb(235, 9, 9);
                    color: white;
                    outline: none;
                    cursor: pointer;
                }
            }
            img {
                width: 100%;
                height: 390px;
                display: block;
                margin-bottom: 20px;
                padding: 12px;
                
            }
        }
    }
    .description {
        height: 30%;
        max-width: 95%;
        margin: 10px auto;
        border-top: 2px solid red;
        padding: 12px;
        > p {
            font-size: 1.5rem;
        }
        p {
            font-size: 1.2rem;
            font-family: 'Share', cursive; 
            line-height: 1.5;
        }
    }