@import "../partials/_mixins";
@import "../partials/_mainResets";
@import "../partials/_partials";
@import "../partials/_global";
@import "../partials/_heros";
@import "../partials/_header";
@import "../partials/_normalizer";
@import "../partials/_home";
@import "../partials/_footer";
@import "../partials/_contact";
@import "../partials/_products";
@import "../partials/_logo";
@import "../partials/_admin";
@import "../partials/_contactAdmin";
@import "../partials/_modals";
