@import '../partials/_header';
@import '../partials/_normalizer';
@import '../partials/_mainResets';
@import '../partials/_home';
@import '../partials/_footer';
@import '../partials/_contact';
@import '../partials/_products';