* {
  box-sizing: border-box; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

.margin-auto {
  margin: 0 auto; }

.main-heading {
  font-size: 4rem;
  font-family: "Share", cursive;
  text-align: center;
  margin-top: 60px; }

.text-center {
  text-align: center; }

.main-nav__links--border {
  border-left: 2px solid #c5c6c7; }

main {
  padding-top: 100px; }

.hero {
  width: 100%;
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  padding: 20px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.311), rgba(0, 0, 0, 0.37));
  display: flex;
  justify-content: center;
  align-items: center; }
  @media (max-width: 767px) {
    .hero {
      background-position: bottom; } }
  @media (max-width: 460px) {
    .hero {
      height: 65vh; } }
  .hero__text {
    width: 480px;
    text-align: center; }
    .hero__text h1 {
      color: white;
      font-size: 3rem;
      font-family: "Montserrat";
      text-transform: uppercase; }
      @media (max-width: 460px) {
        .hero__text h1 {
          font-size: 2.3rem; } }
    .hero__text p {
      color: white;
      font-size: 2rem;
      font-family: "Montserrat";
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 0.9px;
      text-align: center;
      margin-bottom: 50px; }
      @media (max-width: 460px) {
        .hero__text p {
          font-size: 1.5rem; } }
    .hero__text a {
      text-transform: uppercase;
      font-size: 1.5rem;
      padding: 18px 26px;
      cursor: pointer;
      border-radius: 4px;
      font-family: "Share", cursive;
      background-color: #d70303;
      color: white;
      letter-spacing: 0.9px;
      border: none;
      box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2); }
      .hero__text a:hover {
        background-color: #eb0404;
        color: white;
        opacity: 1; }

.page-hero {
  width: 100%;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-image: url("../images/introDrums2.jpg"); }
  .page-hero .page-hero__text {
    background-color: rgba(231, 230, 230, 0.556);
    text-align: center;
    padding: 12px 22px;
    text-align: center;
    font-size: 1.6rem;
    text-transform: uppercase; }
    .page-hero .page-hero__text h1 {
      font-size: 4.5rem;
      font-family: "Share", cursive;
      text-transform: uppercase; }
      @media (max-width: 460px) {
        .page-hero .page-hero__text h1 {
          font-size: 2.3rem; } }
    .page-hero .page-hero__text p {
      font-size: 1.8rem;
      font-family: "Montserrat";
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 0.9px;
      text-align: center;
      margin-bottom: 50px; }
      @media (max-width: 460px) {
        .page-hero .page-hero__text p {
          font-size: 1.5rem; } }

.main-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  background-color: #1f2833;
  z-index: 100; }
  .main-nav__links {
    padding: 0;
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    @media (max-width: 768px) {
      .main-nav__links {
        display: none; } }
    .main-nav__links li {
      margin-right: 10px;
      padding-left: 12px; }
      @media (max-width: 768px) {
        .main-nav__links li {
          margin-left: 30px; } }
      .main-nav__links li a {
        text-transform: uppercase;
        font-size: 1.5rem;
        font-family: "Share", cursive;
        color: white;
        font-weight: 500;
        letter-spacing: 0.8px; }
        .main-nav__links li a::after {
          content: "";
          display: block;
          width: 0;
          height: 2px;
          background: #d70303;
          transition: width 0.2s ease-out; }
        .main-nav__links li a:hover::after {
          width: 100%; }
  .main-nav button {
    text-transform: uppercase;
    font-size: 1.5rem;
    padding: 18px 26px;
    cursor: pointer;
    border-radius: 4px;
    font-family: "Share", cursive;
    background-color: #d70303;
    color: white;
    letter-spacing: 0.9px;
    border: none;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2);
    margin-right: 16px; }
    .main-nav button:hover {
      background-color: #eb0404;
      color: white;
      opacity: 1; }
    @media (max-width: 767px) {
      .main-nav button {
        display: none; } }

.mobile-nav {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #1f2833;
  z-index: 1000;
  margin-left: -1000px; }
  @media (min-width: 768px) {
    .mobile-nav {
      display: none; } }
  .mobile-nav button {
    text-transform: uppercase;
    font-size: 1.5rem;
    padding: 18px 26px;
    cursor: pointer;
    border-radius: 4px;
    font-family: "Share", cursive;
    background-color: #d70303;
    color: white;
    letter-spacing: 0.9px;
    border: none;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2);
    margin: 10px 0 0 10px; }
    .mobile-nav button:hover {
      background-color: #eb0404;
      color: white;
      opacity: 1; }
  .mobile-nav .menu-icon--mobile {
    position: absolute;
    top: 5px;
    right: 0;
    background-image: url("../images/menu-icon.svg");
    width: 50px;
    height: 50px;
    margin: 10px 12px 0 0;
    background-size: cover;
    cursor: pointer; }
    .mobile-nav .menu-icon--mobile::before {
      content: "Menu";
      display: block;
      position: absolute;
      right: 60px;
      top: 16px;
      font-size: 1.8rem;
      font-family: "Share", cursive;
      color: white; }
  .mobile-nav__links {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%; }
    .mobile-nav__links .main-nav__listItem--margin-top {
      margin-top: 10px; }
    .mobile-nav__links li {
      font-size: 3rem; }
      .mobile-nav__links li a {
        color: white;
        font-family: "Share", cursive;
        letter-spacing: 0.8px; }

.menu-icon {
  background-image: url("../images/menu-icon.svg");
  width: 50px;
  height: 50px;
  background-size: cover;
  display: none;
  margin-right: 10px;
  cursor: pointer; }
  .menu-icon::before {
    content: "Menu";
    display: block;
    position: absolute;
    right: 68px;
    top: 40px;
    font-size: 1.8rem;
    font-family: "Share", cursive;
    color: white; }
  @media (max-width: 768px) {
    .menu-icon {
      display: block; } }

/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0; }

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent; }

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder; }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%; }

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none; }

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible; }

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none; }

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline; }

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto; }

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block; }

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item; }

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none; }

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none; }

.available-products {
  width: 98%;
  height: 100%;
  margin: 60px auto; }
  .available-products h2 {
    font-size: 4rem;
    font-family: "Share", cursive;
    margin-bottom: 16px; }
  .available-products .available-products__container {
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .available-products .available-products__container figure {
      width: 650px;
      height: 400px;
      margin: 16px auto;
      position: relative;
      cursor: pointer; }
      @media (max-width: 460px) {
        .available-products .available-products__container figure {
          width: 320px;
          height: 320px; } }
      .available-products .available-products__container figure img {
        width: 100%;
        height: 100%; }
      .available-products .available-products__container figure figcaption {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.481);
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 4rem;
        text-transform: uppercase;
        font-family: "Share", cursive;
        opacity: 0; }
        .available-products .available-products__container figure figcaption:hover {
          opacity: 1; }

.small-card__container {
  box-shadow: 0 0 30px 0 rgba(95, 93, 93, 0.15);
  padding: 12px;
  width: 95%;
  height: 100%;
  margin: 50px auto; }
  .small-card__container .small-card__container-content {
    width: 98%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    align-items: none; }
    @media (max-width: 767px) {
      .small-card__container .small-card__container-content {
        flex-direction: column-reverse; } }
    .small-card__container .small-card__container-content img {
      width: 45%;
      height: 350px; }
      @media (max-width: 767px) {
        .small-card__container .small-card__container-content img {
          width: 100%;
          height: 300px; } }
    .small-card__container .small-card__container-content .small-card__container__content-side {
      width: 50%;
      height: "";
      border-bottom: #d70303 solid 2px;
      padding-bottom: 20px; }
      @media (max-width: 767px) {
        .small-card__container .small-card__container-content .small-card__container__content-side {
          width: 100%;
          height: ""; } }
      .small-card__container .small-card__container-content .small-card__container__content-side p {
        font-size: 2rem;
        font-family: "Share", cursive;
        line-height: 1.5;
        width: 100%;
        height: auto; }
        @media (max-width: 460px) {
          .small-card__container .small-card__container-content .small-card__container__content-side p {
            font-size: 1.8rem; } }
      .small-card__container .small-card__container-content .small-card__container__content-side button {
        text-transform: uppercase;
        font-size: 1.5rem;
        padding: 18px 26px;
        cursor: pointer;
        border-radius: 4px;
        font-family: "Share", cursive;
        background-color: #d70303;
        color: white;
        letter-spacing: 0.9px;
        border: none;
        box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2); }
        .small-card__container .small-card__container-content .small-card__container__content-side button:hover {
          background-color: #eb0404;
          color: white;
          opacity: 1; }

.customer-cards-wrapper {
  margin-top: 80px;
  width: 98%;
  height: 100%; }
  .customer-cards-wrapper h2 {
    font-size: 3.2rem;
    font-family: "Share", cursive;
    margin-bottom: 50px; }

.customer-cards {
  flex-wrap: wrap;
  margin-top: 30px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .customer-cards figcaption {
    border-bottom: 2px #d70303 solid;
    margin-top: 10px;
    font-size: 1.5rem;
    line-height: 1.5;
    font-family: "Share", cursive;
    padding-bottom: 12px;
    width: 100%; }

.customer-cards__card {
  width: 400px;
  height: 100%; }
  .customer-cards__card .customer-cards__content__rating {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: "";
    align-items: center; }
    .customer-cards__card .customer-cards__content__rating p {
      max-height: 30%;
      display: inline-block;
      font-size: 1.3rem;
      font-family: "Share", cursive; }
    .customer-cards__card .customer-cards__content__rating span {
      width: 100px;
      height: 100px;
      background-size: cover;
      background-image: url("../images/ratingicon.png"); }
  .customer-cards__card img {
    width: 70%;
    height: 240px;
    margin: 0 auto;
    display: block;
    border-radius: 50%; }
    @media (max-width: 768px) {
      .customer-cards__card img {
        height: 200px;
        width: 60%; } }

footer {
  width: 100%;
  height: 100%;
  background-color: #1f2833;
  margin-top: 20px;
  padding: 12px; }

.footer__navs {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto; }
  @media (max-width: 767px) {
    .footer__navs {
      flex-direction: column; } }

.footer__navs__social-media {
  margin: 20px 0 40px 0; }
  .footer__navs__social-media ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100%;
    padding: 0; }
  .footer__navs__social-media .margin-left {
    margin-left: 16px; }

.footer__navs__social-media--facebook {
  width: 50px;
  height: 50px;
  margin: 0;
  background-image: url("../images//facebook-icon.svg");
  background-size: cover;
  display: block; }

.footer__navs__social-media--twitter {
  width: 50px;
  height: 50px;
  margin: 0;
  background-image: url("../images/twitter-icon.svg");
  background-size: cover;
  display: block; }

.footer__navs__social-media--instagram {
  width: 50px;
  height: 50px;
  margin: 0;
  background-image: url("../images/instagram-icon.svg");
  background-size: cover;
  display: block; }

.footer__navs__right ul {
  padding: 0;
  width: 200px; }
  .footer__navs__right ul li {
    margin-top: 30px; }
    .footer__navs__right ul li a {
      text-transform: uppercase;
      font-size: 1.5rem;
      font-family: "Share", cursive;
      color: white;
      font-weight: 500;
      letter-spacing: 0.8px; }
      .footer__navs__right ul li a::after {
        content: "";
        display: block;
        width: 0;
        height: 2px;
        background: #d70303;
        transition: width 0.2s ease-out; }
      .footer__navs__right ul li a:hover::after {
        width: 100%; }

.footer__navs__left ul {
  padding: 0;
  width: 200px; }
  .footer__navs__left ul li {
    margin-top: 30px; }
    .footer__navs__left ul li a {
      text-transform: uppercase;
      font-size: 1.5rem;
      font-family: "Share", cursive;
      color: white;
      font-weight: 500;
      letter-spacing: 0.8px; }
      .footer__navs__left ul li a::after {
        content: "";
        display: block;
        width: 0;
        height: 2px;
        background: #d70303;
        transition: width 0.2s ease-out; }
      .footer__navs__left ul li a:hover::after {
        width: 100%; }

.disclaimer {
  text-align: center;
  font-size: 1.5rem;
  font-family: "Share", cursive;
  color: white; }

.company-info {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: none;
  padding: 20px; }
  @media (max-width: 767px) {
    .company-info {
      flex-direction: column; } }
  .company-info__content {
    width: 50%;
    height: 720px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../images/concert.jpg");
    background-size: cover; }
    @media (max-width: 767px) {
      .company-info__content {
        width: 100%;
        height: 300px; } }
    .company-info__content__text {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: rgba(231, 230, 230, 0.8);
      font-size: 1.8rem;
      padding: 20px;
      font-family: "Share", cursive; }
      @media (max-width: 768px) {
        .company-info__content__text {
          width: 315px;
          font-size: 1.5rem; } }

.contact-form {
  width: 50%;
  height: 720px;
  box-shadow: 0 0 30px 0 rgba(95, 93, 93, 0.15); }
  @media (max-width: 767px) {
    .contact-form {
      width: 100%;
      height: 710px; } }
  .contact-form .contact__inputs {
    margin: 18px auto;
    width: 100%; }
    .contact-form .contact__inputs input {
      width: 90%;
      height: 50px;
      margin: 5px auto;
      display: block;
      font-family: "Share", cursive;
      font-size: 1.7rem;
      border: 1px solid #858484; }
    .contact-form .contact__inputs label {
      width: 90%;
      display: block;
      margin-top: 10px;
      font-family: "Share", cursive;
      font-size: 1.7rem; }
  .contact-form .contact-form__submit-btn {
    text-transform: uppercase;
    font-size: 1.5rem;
    padding: 18px 26px;
    cursor: pointer;
    border-radius: 4px;
    font-family: "Share", cursive;
    background-color: #d70303;
    color: white;
    letter-spacing: 0.9px;
    border: none;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2);
    display: block; }
    .contact-form .contact-form__submit-btn:hover {
      background-color: #eb0404;
      color: white;
      opacity: 1; }
  .contact-form textarea {
    width: 90%;
    height: 150px;
    display: block; }

.filters {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Share", cursive;
  margin: 50px auto;
  flex-wrap: wrap; }
  .filters select {
    width: 400px;
    height: 50px;
    color: white;
    background: #191930;
    font-size: 1.2rem;
    font-family: "Share", cursive; }

.row {
  display: flex;
  justify-content: space-around;
  align-items: none;
  width: 98%;
  height: 100%;
  flex-wrap: wrap;
  margin: 80px auto;
  font-family: "Share", cursive; }
  .row__product-card {
    width: 450px;
    height: 830px;
    padding: 10px;
    box-shadow: 0 0 30px 0 rgba(95, 93, 93, 0.15);
    margin-bottom: 50px; }
    @media (max-width: 460px) {
      .row__product-card {
        width: 350px;
        height: 790px; } }
    .row__product-card__bottom {
      display: flex;
      justify-content: space-around;
      align-items: center;
      max-width: 240px;
      height: auto; }
      .row__product-card__bottom p {
        text-transform: uppercase;
        letter-spacing: 0.9px;
        font-size: 1.4rem;
        margin-left: 8px; }
      .row__product-card__bottom button {
        font-size: 1.2rem;
        width: 32px;
        height: 32px;
        border-radius: 20px;
        background-color: #eb0909;
        color: white;
        cursor: pointer; }
    .row__product-card img {
      width: 100%;
      height: 390px;
      display: block;
      margin-bottom: 20px;
      padding: 12px; }
      @media (max-width: 460px) {
        .row__product-card img {
          height: 300px; } }

.product-card__description {
  width: 100%;
  height: 100%;
  margin: 10px auto;
  padding: 12px;
  border-top: 2px solid red; }
  .product-card__description h2 {
    font-size: 1.8rem;
    max-width: 100%;
    height: 60px;
    text-align: center; }
  .product-card__description--height {
    min-height: 130px;
    text-align: center; }
  .product-card__description p {
    font-size: 1.1rem;
    font-weight: normal;
    font-family: 'Montserrat';
    line-height: 1.5; }
  .product-card__description--bold {
    font-weight: bold; }

.main-nav-logo {
  color: white;
  letter-spacing: 1.2px;
  margin-left: auto;
  font-size: 2.1rem;
  font-family: "Fugaz One", cursive;
  border-bottom: solid 3px #f20808;
  text-transform: uppercase; }
  @media (max-width: 767px) {
    .main-nav-logo {
      margin: 0 auto 0 10px; } }

.footer-logo {
  display: block;
  margin: 10px auto 0 auto;
  color: white;
  letter-spacing: 1.2px;
  max-width: 180px;
  font-size: 2.7rem;
  font-family: "Fugaz One", cursive;
  text-transform: uppercase;
  border-bottom: #df0707 solid 3px; }

.admin-nav {
  width: 95%;
  height: 80px;
  display: flex;
  justify-content: none;
  align-items: center;
  margin-top: 50px; }
  .admin-nav button {
    text-transform: uppercase;
    font-size: 1.5rem;
    padding: 18px 26px;
    cursor: pointer;
    border-radius: 4px;
    font-family: "Share", cursive;
    background-color: #d70303;
    color: white;
    letter-spacing: 0.9px;
    border: none;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2); }
    .admin-nav button:hover {
      background-color: #eb0404;
      color: white;
      opacity: 1; }
  .admin-nav ul {
    display: flex;
    justify-content: none;
    align-items: none;
    width: 90%; }
    .admin-nav ul li {
      margin-right: 10px;
      padding-left: 8px; }
      .admin-nav ul li a {
        font-family: "Share", cursive;
        font-size: 1.5rem;
        color: #434141;
        text-transform: uppercase; }

.admin-cards-wrapper {
  flex-wrap: wrap;
  margin: 50px auto;
  width: 95%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .admin-cards-wrapper__flex {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media (max-width: 767px) {
      .admin-cards-wrapper__flex {
        flex-direction: column; } }
    .admin-cards-wrapper__flex .product-cards__description {
      border-left: #d70303 solid 2px;
      width: 350px;
      height: 290px;
      padding-left: 12px; }
      @media (max-width: 767px) {
        .admin-cards-wrapper__flex .product-cards__description {
          width: 100%;
          height: auto;
          border-left: none;
          border-top: 2px solid #d70303;
          margin-top: 10px; } }
      .admin-cards-wrapper__flex .product-cards__description h2 {
        font-size: 1.5rem; }
      .admin-cards-wrapper__flex .product-cards__description p {
        font-family: "Share", cursive;
        font-size: 1.3rem;
        line-height: 1.2; }
        .admin-cards-wrapper__flex .product-cards__description p span {
          font-weight: bold; }
  .admin-cards-wrapper__card {
    width: 700px;
    height: auto;
    margin-top: 20px;
    box-shadow: 0 0 30px 0 rgba(95, 93, 93, 0.15);
    padding: 12px; }
    @media (max-width: 767px) {
      .admin-cards-wrapper__card {
        width: 500px; } }
    .admin-cards-wrapper__card img {
      width: 300px;
      height: 300px; }
      @media (max-width: 767px) {
        .admin-cards-wrapper__card img {
          width: 100%; } }
  .admin-cards-wrapper__btns {
    padding-top: 12px;
    width: 300px;
    margin-left: auto; }
    @media (max-width: 767px) {
      .admin-cards-wrapper__btns {
        display: flex;
        justify-content: center;
        align-items: none;
        margin: 0 auto;
        width: 100%;
        padding-top: 16px; } }
    .admin-cards-wrapper__btns button {
      font-size: 1.4rem;
      font-family: "Share", cursive;
      border-radius: 4px;
      width: 110px;
      padding: 12px;
      margin-left: 10px;
      text-transform: uppercase;
      background-color: #18182d;
      color: white;
      cursor: pointer;
      display: inline-block; }
      .admin-cards-wrapper__btns button:hover {
        background-color: #d80606; }
      @media (max-width: 767px) {
        .admin-cards-wrapper__btns button {
          margin: 0 auto; } }

.contact-row {
  width: 98%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: none;
  flex-wrap: wrap; }
  .contact-row__content {
    width: 510px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: none;
    padding: 12px;
    margin-top: 20px;
    box-shadow: 0 0 30px 0 rgba(95, 93, 93, 0.15); }
    @media (max-width: 460px) {
      .contact-row__content {
        width: 380px;
        height: 430px;
        flex-direction: column; } }
  .contact-row__info {
    width: 210px;
    height: auto;
    font-family: "Share", cursive; }
    @media (max-width: 460px) {
      .contact-row__info {
        width: 100%; } }
    .contact-row__info h2 {
      font-size: 2.7rem; }
    .contact-row__info p {
      font-size: 1.3rem;
      min-width: 200px; }
    .contact-row__info__comments {
      width: 260px;
      height: auto;
      border-left: 2px solid red;
      padding: 12px; }
      @media (max-width: 460px) {
        .contact-row__info__comments {
          width: 100%;
          border-top: 2px red solid;
          border-left: none; } }
      .contact-row__info__comments p {
        font-size: 1.3rem;
        font-family: "Share", cursive; }

.delete-modal,
.edit-form-modal,
.add-product-modal {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(26, 24, 24, 0.832);
  z-index: 100;
  position: fixed;
  display: none;
  top: 0;
  left: 0; }

.delete-modal__content {
  width: 610px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #d9dfdf;
  font-family: "Share", cursive; }
  @media (max-width: 460px) {
    .delete-modal__content {
      width: 430px; } }
  .delete-modal__content p {
    font-size: 1.8rem;
    padding: 12px; }
  .delete-modal__content__buttons {
    width: 290px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: none; }
    .delete-modal__content__buttons button {
      padding: 16px 40px;
      font-size: 1.3rem;
      cursor: pointer;
      text-transform: uppercase;
      border-radius: 4px; }
    .delete-modal__content__buttons--red:hover {
      background-color: #d40a0a;
      color: white; }
    .delete-modal__content__buttons--green:hover {
      background-color: #018515;
      color: white; }

.modal-form {
  width: 500px;
  height: 750px;
  background: #949494; }
  @media (max-width: 460px) {
    .modal-form {
      width: 400px; } }
  .modal-form .contact__inputs {
    width: 100%;
    height: auto;
    margin: 18px auto; }
    .modal-form .contact__inputs input {
      width: 90%;
      height: 50px;
      margin: 5px auto;
      display: block;
      font-family: "Share", cursive;
      font-size: 1.7rem;
      background-color: #e2dede;
      border: none; }
    .modal-form .contact__inputs label {
      color: white;
      margin: 0 auto;
      width: 90%;
      display: block;
      margin-top: 10px;
      font-family: "Share", cursive;
      font-size: 1.7rem; }
  .modal-form .modal-form__buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 50px; }
    .modal-form .modal-form__buttons button, .modal-form .modal-form__buttons input {
      width: 160px;
      height: 60px;
      text-transform: uppercase;
      font-size: 1.5rem;
      cursor: pointer;
      border-radius: 4px;
      font-family: "Share", cursive;
      background-color: black;
      color: white;
      border: none;
      box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2); }
    .modal-form .modal-form__buttons--green:hover {
      background-color: #018515; }
    .modal-form .modal-form__buttons--black:hover {
      background-color: #d70303; }
