.mainNav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  height: 100px;
  background-color: #1f2833;
  z-index: 100; }
  .mainNav ul {
    padding: 0;
    display: flex;
    width: 70%;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    margin: 0 auto; }
    @media (max-width: 768px) {
      .mainNav ul {
        display: none; } }
    @media (max-width: 375px) {
      .mainNav ul {
        display: none; } }
    .mainNav ul li {
      list-style: none;
      margin-right: 10px;
      padding-left: 12px; }
      @media (max-width: 768px) {
        .mainNav ul li {
          margin-left: 30px; } }
      .mainNav ul li a {
        text-transform: uppercase;
        font-size: 1.5rem;
        font-family: "Share", cursive;
        color: white;
        font-weight: 500;
        letter-spacing: 0.8px; }
        .mainNav ul li a::after {
          content: "";
          display: block;
          width: 0;
          height: 2px;
          background: red;
          transition: width 0.2s ease-out; }
        .mainNav ul li a:hover::after {
          width: 100%; }
  .mainNav button {
    text-transform: uppercase;
    font-size: 1.5rem;
    width: 120px;
    height: 60px;
    cursor: pointer;
    border-radius: 4px;
    outline: none;
    font-family: "Share", cursive;
    background-color: #d40a0a;
    color: white;
    letter-spacing: 0.9px;
    border: none;
    margin-right: 10px;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2); }
    .mainNav button:hover {
      background-color: #e60404;
      color: white;
      opacity: 1; }
    @media (max-width: 767px) {
      .mainNav button {
        display: none; } }

.mainNav__links--border {
  border-left: 2px solid #C5C6C7; }

/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0; }

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent; }

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder; }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%; }

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none; }

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible; }

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none; }

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline; }

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto; }

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block; }

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item; }

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none; }

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none; }

* {
  box-sizing: border-box; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

main {
  padding-top: 100px; }

.hero {
  height: 600px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px; }
  @media (max-width: 768px) {
    .hero {
      background-position: bottom; } }
  .hero__text {
    background-color: rgba(235, 230, 230, 0.74);
    height: 300px;
    width: 600px;
    padding: 13px;
    text-align: center; }
    .hero__text button {
      text-transform: uppercase;
      font-size: 1.5rem;
      width: 120px;
      height: 60px;
      cursor: pointer;
      border-radius: 4px;
      outline: none;
      font-family: "Share", cursive;
      background-color: #352e5c;
      color: white;
      letter-spacing: 0.9px;
      border: none;
      box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2); }
      .hero__text button:hover {
        background-color: #e60404;
        color: white;
        opacity: 1; }
    .hero__text h1 {
      color: #151414;
      font-size: 1.7rem;
      font-family: "RVMontserrat";
      text-transform: uppercase; }
    .hero__text p {
      color: #0e0e0e;
      font-size: 160%;
      font-family: "RVMontserrat";
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 0.9px;
      text-align: center; }

.intro-card {
  width: 95%;
  box-shadow: 0 0 30px 0 rgba(95, 93, 93, 0.15);
  padding: 16px;
  height: auto;
  margin: 50px auto;
  background-color: white; }
  .intro-card .intro-card__container {
    width: 98%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto; }
    @media (max-width: 767px) {
      .intro-card .intro-card__container {
        flex-direction: column; } }
    .intro-card .intro-card__container img {
      width: 41%;
      height: 530px; }
      @media (max-width: 768px) {
        .intro-card .intro-card__container img {
          width: 100%;
          height: 400px; } }
    .intro-card .intro-card__container p {
      border: solid 2px #2b0a0a;
      margin: 0;
      font-size: 2.2rem;
      font-family: "Share", cursive;
      height: auto;
      width: 58%;
      line-height: 1.5;
      text-align: center;
      border-bottom: solid 2px #f10606;
      padding-bottom: 18px; }
      @media (max-width: 767px) {
        .intro-card .intro-card__container p {
          width: 100%;
          height: auto;
          margin-top: 20px;
          font-size: 1.8rem; } }

.availableProducts {
  width: 95%;
  height: 100%;
  margin: 60px auto; }
  .availableProducts h2 {
    text-align: center;
    font-size: 4rem;
    font-family: "Share", cursive;
    margin-bottom: 0; }
  .availableProducts .availableProducts__container {
    border: solid pink 2px;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto; }
    .availableProducts .availableProducts__container figure {
      width: 700px;
      height: 100%;
      margin: 0 auto; }
    .availableProducts .availableProducts__container img {
      box-shadow: 0 0 30px 0 rgba(95, 93, 93, 0.15);
      padding: 12px;
      width: 100%;
      height: 400px;
      margin: 10px 0; }

.smallCard {
  width: 95%;
  box-shadow: 0 0 30px 0 rgba(95, 93, 93, 0.15);
  padding: 16px;
  height: 100%;
  margin: 50px auto;
  background-color: white; }
  .smallCard .smallCard__container {
    width: 98%;
    height: 90%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto; }
    @media (max-width: 767px) {
      .smallCard .smallCard__container {
        flex-direction: column-reverse; } }
    .smallCard .smallCard__container img {
      width: 48%;
      height: 350px; }
      @media (max-width: 767px) {
        .smallCard .smallCard__container img {
          width: 100%; } }

.smallCard__container__content {
  width: 50%;
  text-align: center;
  border-bottom: red solid 2px;
  padding-bottom: 20px; }
  @media (max-width: 767px) {
    .smallCard__container__content {
      width: 100%; } }
  .smallCard__container__content p {
    font-size: 2rem;
    font-family: "Share", cursive;
    height: auto;
    max-width: 100%;
    line-height: 1.5; }
  .smallCard__container__content button {
    padding: 12px;
    border-radius: 4px;
    font-family: "Share", cursive;
    font-size: 1.5rem;
    outline: none;
    text-transform: uppercase;
    margin: 0 auto;
    cursor: pointer; }
    .smallCard__container__content button:hover {
      background-color: #dd0505;
      color: white; }

.customerCards-container {
  height: 100%;
  margin-top: 50px;
  width: 98%;
  margin: 0 auto; }
  .customerCards-container h2 {
    text-align: center;
    font-size: 2.9rem;
    font-family: "Share", cursive; }

.customerCards {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  justify-content: space-around;
  margin-top: 30px; }
  .customerCards figcaption {
    border-bottom: 2px red solid;
    display: block;
    margin-top: 10px;
    font-size: 1.5rem;
    max-height: 60%;
    width: 100%;
    line-height: 1.8;
    font-family: "Share", cursive;
    padding-bottom: 10px;
    text-align: center; }
    @media (max-width: 768px) {
      .customerCards figcaption {
        max-width: 100%; } }

@media (max-width: 768px) {
  width: 280px;
  margin: 0 auto; }

.customerCards__card {
  width: 400px;
  height: 100%;
  margin: 0 auto; }
  .customerCards__card .customerCards__content__rating {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center; }
    .customerCards__card .customerCards__content__rating p {
      max-height: 30%;
      display: inline-block;
      font-size: 1.3rem;
      font-family: "Share", cursive; }
    .customerCards__card .customerCards__content__rating span {
      align-self: center;
      width: 100px;
      height: 100px;
      background-size: cover;
      background-image: url("../images/ratingicon.png"); }
  .customerCards__card img {
    width: 70%;
    height: 240px;
    margin: 0 auto;
    display: block;
    border-radius: 50%; }
    @media (max-width: 1115px) {
      .customerCards__card img {
        height: 250px; } }
    @media (max-width: 768px) {
      .customerCards__card img {
        height: 200px;
        width: 60%; } }

footer {
  border-top: 2px solid #d6d3d3;
  background-color: #1f2833;
  margin-top: 20px;
  width: 100%; }

.footer__navs {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 30px auto; }
  @media (max-width: 678px) {
    .footer__navs {
      flex-direction: column;
      align-items: center; } }

.footer__navs__socialMedia {
  display: flex; }
  .footer__navs__socialMedia ul {
    display: flex;
    padding: 0;
    width: 160px;
    justify-content: center;
    align-items: flex-end;
    margin: 0 auto;
    justify-content: space-between; }
  .footer__navs__socialMedia li {
    width: 100%; }

.footer__navs__socialMedia--facebook {
  margin: 0;
  background-image: url("../images/facebooklogo.png");
  background-size: cover;
  height: 50px;
  width: 50px;
  display: block; }

.footer__navs__socialMedia--twitter {
  margin: 0;
  background-image: url("../images/twitterlogo.png");
  background-size: cover;
  height: 50px;
  width: 50px;
  display: block; }

.footer__navs__socialMedia--instagram {
  margin: 0;
  background-image: url("../images/instagramlogo.png");
  background-size: cover;
  height: 50px;
  width: 50px;
  display: block; }

.footer__navs__right ul {
  padding: 0;
  width: 200px; }
  .footer__navs__right ul li {
    margin-top: 20px; }

.footer__navs__right a {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-family: 'Share', cursive;
  color: white;
  font-weight: 500;
  letter-spacing: .80px; }

.footer__navs__left ul {
  padding: 0;
  width: 200px; }
  .footer__navs__left ul li {
    margin-top: 20px; }

.footer__navs__left a {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-family: 'Share', cursive;
  color: white;
  font-weight: 500;
  letter-spacing: .80px; }

.Hero {
  height: 300px;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../images/introDrums2.jpg"); }
  .Hero .Hero__text {
    background-color: rgba(231, 230, 230, 0.729);
    width: 400px;
    height: 150px;
    text-align: center;
    font-size: 1.6rem;
    text-transform: uppercase;
    padding: 10px; }

.contactForm {
  overflow: auto;
  width: 49%;
  height: 700px;
  box-shadow: 0 0 30px 0 rgba(95, 93, 93, 0.15); }
  @media (max-width: 767px) {
    .contactForm {
      width: 100%; } }
  .contactForm .contact__inputs {
    margin: 18px auto;
    width: 100%; }
    .contactForm .contact__inputs input {
      margin: 5px auto;
      height: 50px;
      display: block;
      width: 90%;
      font-family: "Share", cursive;
      font-size: 1.7rem;
      background-color: #e2dede;
      border: none; }
    .contactForm .contact__inputs label {
      margin: 0 auto;
      width: 90%;
      display: block;
      margin-top: 10px;
      font-family: "Share", cursive;
      font-size: 1.7rem; }
  .contactForm textarea {
    display: block;
    width: 90%;
    height: 150px;
    background-color: lightgray;
    margin: 0 auto; }

#submitBtn {
  margin: 0 auto;
  background-color: lightslategray;
  color: white;
  border-radius: 4px;
  font-family: 'Share', cursive;
  padding: 10px 20px;
  display: block;
  font-size: 1.5rem;
  text-transform: uppercase;
  cursor: pointer; }
  #submitBtn:hover {
    opacity: .8; }

.companyInfo {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  padding: 20px; }
  @media (max-width: 767px) {
    .companyInfo {
      flex-direction: column; } }
  .companyInfo__content {
    height: 700px;
    width: 47%;
    background: url("../images/concert.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px; }
    @media (max-width: 767px) {
      .companyInfo__content {
        width: 100%;
        height: 300px; } }
    .companyInfo__content__text {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: rgba(231, 230, 230, 0.8);
      font-size: 1.8rem;
      padding: 20px;
      font-family: "Share", cursive; }
      @media (max-width: 768px) {
        .companyInfo__content__text {
          width: 315px;
          font-size: 1.5rem; } }

.filters {
  width: 100%;
  height: 100%;
  position: relative;
  font-family: 'Share', cursive;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 50px auto;
  flex-wrap: wrap; }
  .filters select {
    color: white;
    background: #191930;
    height: 50px;
    width: 400px;
    font-size: 1.2rem;
    outline: none;
    font-family: 'Share', cursive; }

.row {
  display: flex;
  flex-wrap: wrap;
  width: 98%;
  height: 100%;
  margin: 0 auto;
  justify-content: space-around;
  margin-top: 30px;
  font-family: 'Share', cursive; }
  .row .row__productCard {
    padding: 10px;
    width: 450px;
    height: 830px;
    box-shadow: 0 0 30px 0 rgba(95, 93, 93, 0.15);
    margin-bottom: 20px; }
    @media (max-width: 460px) {
      .row .row__productCard {
        width: 400px; } }
    .row .row__productCard h1 {
      font-size: 1.8rem;
      max-width: 100%;
      height: 60px; }
    .row .row__productCard__bottom {
      display: flex;
      justify-content: space-around;
      max-width: 190px;
      height: auto;
      align-items: center; }
      .row .row__productCard__bottom p {
        text-transform: uppercase;
        letter-spacing: .90px;
        font-size: 1.4rem;
        height: auto; }
      .row .row__productCard__bottom button {
        font-size: 1.2rem;
        width: 30px;
        height: 30px;
        border-radius: 20px;
        background-color: #eb0909;
        color: white;
        outline: none;
        cursor: pointer; }
    .row .row__productCard img {
      width: 100%;
      height: 390px;
      display: block;
      margin-bottom: 20px;
      padding: 12px; }

.productCard__description {
  max-height: 100%;
  max-width: 95%;
  margin: 10px auto;
  border-top: 2px solid red;
  padding: 12px; }
  .productCard__description > p {
    font-size: 1.5rem; }
  .productCard__description p {
    font-size: 1.2rem;
    font-family: 'Share', cursive;
    line-height: 1.5; }

.mainNav-logo {
  color: white;
  letter-spacing: 1.2px;
  margin-left: auto;
  font-size: 2.1rem;
  font-family: 'Fugaz One', cursive;
  border-bottom: solid 3px #f20808;
  text-transform: uppercase; }
  @media (max-width: 767px) {
    .mainNav-logo {
      margin: 0 auto 0 10px; } }

.logoContainer--footer {
  margin-top: 20px;
  position: relative;
  text-align: center;
  width: 100%;
  max-height: 100%; }
  .logoContainer--footer > p {
    display: inline-block;
    color: white;
    letter-spacing: 1.2px;
    max-width: 190px;
    font-size: 2.7rem;
    font-family: 'Fugaz One', cursive;
    text-transform: uppercase;
    max-height: 100%;
    margin: 0 7px;
    border-bottom: #df0707 solid 3px; }

.modal,
.modal2,
.modal3 {
  background-color: rgba(26, 24, 24, 0.75);
  z-index: 100;
  height: 100%;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  top: 0;
  left: 0;
  right: 0; }
  .modal__content,
  .modal2__content,
  .modal3__content {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d9dfdf;
    opacity: 1;
    height: 300px;
    width: 610px;
    z-index: 200px;
    font-family: "Share", cursive; }
    .modal__content p,
    .modal2__content p,
    .modal3__content p {
      font-size: 1.8rem;
      padding: 12px; }
    .modal__content__buttons,
    .modal2__content__buttons,
    .modal3__content__buttons {
      height: 50px;
      width: 290px;
      display: flex;
      justify-content: space-between; }
      .modal__content__buttons > button,
      .modal2__content__buttons > button,
      .modal3__content__buttons > button {
        height: 100%;
        width: 49%;
        cursor: pointer;
        outline: none;
        text-transform: uppercase;
        border-radius: 10px; }
        .modal__content__buttons > button:hover,
        .modal2__content__buttons > button:hover,
        .modal3__content__buttons > button:hover {
          background: #ce1e1e;
          color: white; }

.form2 {
  background: #b3b0b0;
  width: 500px;
  height: 85%; }
  .form2 input {
    margin: 5px auto;
    height: 50px;
    display: block;
    width: 90%;
    font-family: "Share", cursive;
    font-size: 1.7rem;
    background-color: #e2dede;
    border: none; }
  .form2 .contact__inputs {
    margin: 18px auto;
    width: 100%; }
    .form2 .contact__inputs label {
      margin: 0 auto;
      width: 90%;
      display: block;
      margin-top: 10px;
      font-family: "Share", cursive;
      font-size: 1.7rem; }
  .form2 .modal2__buttons {
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto; }
    .form2 .modal2__buttons > button {
      width: 45%;
      height: 50px;
      border: none;
      background-color: lightslategray;
      color: white;
      border-radius: 10px;
      outline: none;
      cursor: pointer;
      font-family: "Share", cursive;
      font-size: 1.7rem;
      padding: 0; }
      .form2 .modal2__buttons > button:hover {
        background-color: #c91010; }
    .form2 .modal2__buttons #submitBtn2 {
      width: 45%;
      height: 50px;
      background-color: lightslategray;
      color: white;
      border-radius: 10px;
      margin: 0;
      cursor: pointer; }
      .form2 .modal2__buttons #submitBtn2:hover {
        background-color: #03ac03; }

.admin-Nav {
  height: 80px;
  width: 95%;
  display: flex;
  align-items: center;
  margin-top: 50px; }
  .admin-Nav button {
    height: 70px;
    width: 200px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 4px;
    font-family: "Share", cursive;
    font-size: 1.5rem;
    text-transform: uppercase;
    background-color: #eb0808;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(163, 160, 160, 0.9);
    cursor: pointer;
    color: white; }
    .admin-Nav button:hover {
      background-color: #1f2833;
      box-shadow: 0 4px 8px 0 rgba(172, 171, 171, 0.9);
      opacity: 1; }
  .admin-Nav ul {
    list-style: none;
    display: flex;
    width: 90%; }
    .admin-Nav ul li {
      list-style: none;
      margin-right: 10px;
      padding-left: 8px; }
      .admin-Nav ul li a {
        font-family: "Share", cursive;
        font-size: 1.5rem;
        color: #434141;
        text-transform: uppercase; }

.productCards-container {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  justify-content: space-around;
  margin: 50px auto;
  height: 100%; }
  .productCards-container__flex {
    display: flex;
    justify-content: space-between; }
    @media (max-width: 767px) {
      .productCards-container__flex {
        flex-direction: column; } }
    .productCards-container__flex .productCards__description {
      border-left: red solid 2px;
      height: 290px;
      width: 350px;
      text-align: center;
      padding-left: 12px; }
      @media (max-width: 767px) {
        .productCards-container__flex .productCards__description {
          width: 100%; } }
      .productCards-container__flex .productCards__description h1 {
        font-size: 1.5rem; }
      .productCards-container__flex .productCards__description p {
        font-family: "Share", cursive;
        font-size: 1.3rem;
        line-height: 1.2; }
        .productCards-container__flex .productCards__description p span {
          font-weight: bold; }
  .productCards-container__card {
    margin-top: 20px;
    box-shadow: 0 0 30px 0 rgba(95, 93, 93, 0.15);
    width: 700px;
    height: auto;
    padding: 12px; }
    @media (max-width: 767px) {
      .productCards-container__card {
        width: 500px; } }
    .productCards-container__card img {
      width: 300px;
      height: 300px; }
      @media (max-width: 767px) {
        .productCards-container__card img {
          width: 100%; } }
  .productCards-container__btns {
    padding-top: 12px;
    width: 300px; }
    @media (max-width: 767px) {
      .productCards-container__btns {
        width: 100%; } }
    .productCards-container__btns button {
      font-size: 1.4rem;
      font-family: "Share", cursive;
      border-radius: 4px;
      width: 110px;
      padding: 12px;
      margin-left: 10px;
      text-transform: uppercase;
      background-color: #18182d;
      color: white;
      cursor: pointer;
      display: inline-block; }
      .productCards-container__btns button:hover {
        background-color: #d80606; }
      @media (max-width: 767px) {
        .productCards-container__btns button {
          margin: 0 auto; } }
